{% extends "layout2.html" %}
{% block title %}Classification History{% endblock %}

{% block content %}
<!-- 引入 p5.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>

<style>
    #controls {
        display: flex;
        justify-content: center;
        padding: 10px;
        background-color: transparent;
    }

    .button {
        margin: 0 20px;
        padding: 10px 20px;
        border: none;
        background-color: #bdc3c7;
        color: white;
        cursor: pointer;
        font-size: 16px;
        border-radius: 5px;
    }

    .button.active {
        background-color: #34495e;
    }

    #content {
        padding: 20px;
        max-width: 1100px;
        margin: 0 auto 20px;
        background: white;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    #attackChart {
        padding-right: 30px;
        margin-bottom: 20px;
    }

    /* 時間視覺化 */
    #time-visualization {
        display: none;
    }

    .time-filter {
        margin-top: 20px;
        text-align: center;
    }

    .heatmap {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* type table */
    #type {
        width: 96%;
        border-collapse: collapse;
        margin: 10px auto;
        table-layout: fixed;
    }

    #type th:nth-child(1),
    #type td:nth-child(1) {
        width: 20%; /* Time欄寬度為 20% */
    }

    #type th:nth-child(2),
    #type td:nth-child(2) {
        width: 68%; /* Log欄寬度為 68% */
    }

    #type th:nth-child(3),
    #type td:nth-child(3) {
        width: 12%; /* Detail欄寬度為 12% */
    }

    /* time table */
    #historyTable {
        width: 96%;
        border-collapse: collapse;
        margin: 10px auto;
        table-layout: fixed;
    }

    #historyTable th:nth-child(1),
    #historyTable td:nth-child(1) {
        width: 18%; /* Time欄寬度為 18% */
    }

    #historyTable th:nth-child(2),
    #historyTable td:nth-child(2) {
        width: 46%; /* Log欄寬度為 46% */
    }

    #historyTable th:nth-child(3),
    #historyTable td:nth-child(3) {
        width: 28%; /* Type欄寬度為 28% */
    }

    #historyTable th:nth-child(4),
    #historyTable td:nth-child(4) {
        width: 8%; /* Detail欄寬度為 8% */
    }

    /* table common setting */
    table, th, td {
        border: 1px solid #ddd;
    }

    th, td {
        padding: 12px;
        text-align: center;
    }

    th {
        background-color: #34495e;
        color: white;
    }

    td {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    /* 只在 "Attack Type" 頁面顯示卡片 */
    #cards-container {
        display: block;
    }

    #cards-container.hidden {
        display: none;
    }

    .detail-link {
        color: #000080;
    }

    #monthTimeTable.hidden {
        display: none;
    }

    #weekTimeTable.hidden {
        display: none;
    }

    #dayTimeTable.hidden {
        display: none;
    }
</style>

<!-- HTML part -->
<h1>Cowrie Log Attack Type Classification History</h1>

<p class="comment">Here you can explore the past events with visualization.</p>

<div id="controls">
    <button id="btn-attack" class="button active">Attack Type</button>
    <button id="btn-time" class="button">Time</button>
</div>

<div id="content">
    <!-- Attack Frequency Bar Chart Section -->
    <div id="visualization">
        <canvas id="attackChart"></canvas>
    </div>

    <!-- Type-based History Records Table -->
    <div id="cards-container" class="hidden">
        {% for attack in attack_data %}
            <br>
            <div class="attack-card">
                <h2>{{ attack.attack_type }}</h2>
                <div class="details">
                    <p><strong>You have encountered this attack type {{ attack.count }} times</strong></p>
                </div>
                <table id="type">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Input Cowrie Log</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for record in attack.records %}
                            <tr>
                                <td>{{ record.time }}</td>
                                <td>{{ record.input_log }}</td>
                                <td><a href="{% url 'ask_me:detail' %}?id={{ record.id }}" class="detail-link">Detail</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>

    <!-- Time-based Heatmap Section -->
    <div id="time-visualization">
        <!-- Time Filter -->
        <div class="time-filter">
            <label for="time-filter">Filter By:</label>
            <select id="time-filter">
                <option value="month">Month</option>
                <option value="week">Week</option>
                <option value="day">Day</option>
            </select>
            <button id="apply-filter" class="button">Apply Filter</button>
        </div>

        <!-- Heatmap -->
        <div class="heatmap" id="heatmap"></div>
        <br>

        <!-- Time-based History Records Table -->
        <div id="monthTimeTable" class="hidden">
            {% for attack in month_data %}
            <br>
            <div class="attack-card">
                <h2>Month of {{ attack.month }}</h2>
                <table id="historyTable">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Input Cowrie Log</th>
                            <th>Attack Type</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for record in attack.record %}
                            <tr>
                                <td>{{record.time}}</td>
                                <td>{{record.input_log}}</td>
                                <td>{{record.attack_type}}</td>
                                <td><a href="{% url 'ask_me:detail' %}?id={{ record.id }}" class="detail-link">Detail</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endfor %}
        </div>

        <div id="weekTimeTable" class="hidden">
            {% for attack in week_data %}
            <br>
            <div class="attack-card">
                <h2>Week of {{ attack.week }}</h2>
                <table id="historyTable">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Input Cowrie Log</th>
                            <th>Attack Type</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for record in attack.record %}
                            <tr>
                                <td>{{record.time}}</td>
                                <td>{{record.input_log}}</td>
                                <td>{{record.attack_type}}</td>
                                <td><a href="{% url 'ask_me:detail' %}?id={{ record.id }}" class="detail-link">Detail</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endfor %}
        </div>

        <div id="dayTimeTable" class="hidden">
            {% for attack in day_data %}
            <br>
            <div class="attack-card">
                <h2>{{ attack.date }}</h2>
                <table id="historyTable">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Input Cowrie Log</th>
                            <th>Attack Type</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for record in attack.record %}
                            <tr>
                                <td>{{record.time}}</td>
                                <td>{{record.input_log}}</td>
                                <td>{{record.attack_type}}</td>
                                <td><a href="{% url 'ask_me:detail' %}?id={{ record.id }}" class="detail-link">Detail</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endfor %}
        </div>

    </div>
</div>

<!-- Chart.js Script -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    // Bar chart
    const attackType = {{ attackType|safe }};
    const frequency = {{ frequency|safe }};

    const ctx = document.getElementById('attackChart').getContext('2d');
    const attackChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: attackType,
            datasets: [{
                label: 'Attack Frequency',
                data: frequency,
                backgroundColor: 'rgba(52, 73, 94, 0.2)',
                borderColor: 'rgba(52, 73, 94, 1)',
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            scales: {
                y: {
                    beginAtZero: true,
                    ticks: {
                        stepSize: 1,
                        callback: function(value) {
                            if (Number.isInteger(value)) {
                                return value; // 只顯示整數
                            }
                        }
                    }
                }
            }
        }
    });

    // Function to switch between "Attack Type" and "Time" views
    document.getElementById("btn-attack").addEventListener("click", function() {
        this.classList.add("active");
        document.getElementById("visualization").style.display = "block";
        document.getElementById("time-visualization").style.display = "none";
        document.getElementById("btn-time").classList.remove("active");
        document.getElementById("cards-container").classList.remove("hidden");

        sessionStorage.setItem("histState", "type");
    });

    document.getElementById("btn-time").addEventListener("click", function() {
        this.classList.add("active");
        document.getElementById("visualization").style.display = "none";
        document.getElementById("time-visualization").style.display = "block";
        document.getElementById("btn-attack").classList.remove("active");
        document.getElementById("cards-container").classList.add("hidden");

        document.getElementById('monthTimeTable').classList.remove('hidden');
        document.getElementById('weekTimeTable').classList.add('hidden');
        document.getElementById('dayTimeTable').classList.add('hidden');

        updateChart("month");

        sessionStorage.setItem("histState", "time");
    });

    const timeData = {{ time_data|safe }};

    function drawHeatmap() {
        const heatmapDiv = document.getElementById('heatmap');

        // 熱點圖中的每一個資料項目加入換行樣式
        let heatmapContent = '<p>Time-based Heatmap</p>';
        timeData.forEach(item => {
            heatmapContent += `<div style="margin-bottom: 5px; word-wrap: break-word; white-space: normal;">
                <strong>${item.time}</strong>: 
                <span style="background-color: rgba(255, 0, 0, ${item.count / 20}); 
                    padding: 5px; color: white;">${item.count}</span>
            </div>`;
        });
        
        heatmapDiv.innerHTML = heatmapContent;
    }

    document.getElementById("apply-filter").addEventListener("click", function() {
        const filter = document.getElementById("time-filter").value; // 取得篩選器的選擇

        document.getElementById("visualization").style.display = "none";
        document.getElementById("cards-container").classList.add("hidden");

        if (filter === "month") {
            document.getElementById('monthTimeTable').classList.remove('hidden');
            document.getElementById('weekTimeTable').classList.add('hidden');
            document.getElementById('dayTimeTable').classList.add('hidden');
        } else if (filter === "week") {
            document.getElementById('monthTimeTable').classList.add('hidden');
            document.getElementById('weekTimeTable').classList.remove('hidden');
            document.getElementById('dayTimeTable').classList.add('hidden');
        } else {
            document.getElementById('monthTimeTable').classList.add('hidden');
            document.getElementById('weekTimeTable').classList.add('hidden');
            document.getElementById('dayTimeTable').classList.remove('hidden');
        }

        updateChart(filter);
    });

    state = sessionStorage.getItem("histState");
    if (state === "time") {
        document.getElementById("btn-time").click();
    } else {
        document.getElementById("btn-attack").click();
    }
</script>

<script src="https://d3js.org/d3.v7.min.js"></script>
<div id="heatmap"></div>
<script>
    var attackData = {{ heat_map_data|safe }};

    var width = 800, height = 400, margin = { top: 20, right: 30, bottom: 50, left: 50 };
    var svg = d3.select("#heatmap")
        .append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform", `translate(${margin.left},${margin.top})`);

    function updateChart(filterType) {
        var filteredData = attackData;

        var parseDate = d3.timeParse("%Y-%m-%d");
        var data = filteredData.map(d => ({ ...d, date: parseDate(d.date) }));

        var x;
        var xAxis;
        
        if (filterType === "month") {
            var currentDate = new Date();
            var currentYear = currentDate.getFullYear();

            // 設定 x 軸顯示 1-12 月的資料
            var months = d3.range(0, 12); // 0-11 對應於 1 月到 12 月

            x = d3.scaleBand()
                .domain(months.map(m => d3.timeMonth.offset(new Date(currentYear, m, 1), 0)))
                .range([0, width])
                .padding(0.1);

            xAxis = d3.axisBottom(x).tickFormat(d3.timeFormat("%m"));
        } else if (filterType === "day") {
            // 當篩選器選擇當月，X 軸顯示當月的每一天
            var currentMonthStart = new Date(new Date().getFullYear(), new Date().getMonth(), 1);
            var currentMonthEnd = new Date(new Date().getFullYear(), new Date().getMonth() + 1, 0);
            var daysInMonth = [];
            for (var d = currentMonthStart; d <= currentMonthEnd; d.setDate(d.getDate() + 1)) {
                daysInMonth.push(new Date(d));
            }
            x = d3.scaleBand()
                .domain(daysInMonth)
                .range([0, width])
                .padding(0.1);
            xAxis = d3.axisBottom(x).tickFormat(d3.timeFormat("%d"));
        } else if (filterType === "week") {
            // 當篩選器選擇當周，X 軸顯示周次
            var weeks = ["Week 1", "Week 2", "Week 3", "Week 4"]; // 假設每個月最多 4 周
            x = d3.scaleBand()
                .domain(weeks)
                .range([0, width])
                .padding(0.1);
            xAxis = d3.axisBottom(x);
        }

        // 設置 X 軸
        svg.selectAll(".x-axis").remove();
        svg.append("g")
            .attr("class", "x-axis")
            .attr("transform", `translate(0,${height})`)
            .call(xAxis);

        // Y 軸（攻擊數量）
        var y = d3.scaleLinear().domain([0, d3.max(data, d => d.count)]).range([height, 0]);
        svg.selectAll(".y-axis").remove();
        svg.append("g")
            .attr("class", "y-axis")
            .call(d3.axisLeft(y));

        // 繪製條形圖
        svg.selectAll("rect").remove();
        svg.selectAll("rect")
            .data(data)
            .enter().append("rect")
            .attr("x", d => x(d.date))  // 設置條形圖的 X 軸位置
            .attr("y", d => y(d.count)) // 設置條形圖的 Y 軸位置（對應攻擊數量）
            .attr("width", x.bandwidth()) // 條形的寬度，使用 x.bandwidth()
            .attr("height", d => height - y(d.count)) // 條形的高度，根據攻擊數量計算
            .style("fill", "#6A8DB1")
            .style("opacity", 0.7)
            .on("mouseover", function(event, d) {
                d3.select(this).style("opacity", 1);
            })
            .on("mouseout", function() {
                d3.select(this).style("opacity", 0.7);
            });
    }

    // 提示框元素
    d3.select("body").append("div")
        .attr("id", "tooltip")
        .style("position", "absolute")
        .style("visibility", "hidden")
        .style("background", "rgba(0,0,0,0.7)")
        .style("color", "white")
        .style("border-radius", "4px")
        .style("padding", "5px");

</script>

{% endblock%}