{% extends "layout2.html" %}
{% block title %}Classification{% endblock %}

{% block content %}
<h1>Cowrie Log Attack Type Classification</h1>
<p class="comment">Please check your Cowrie Log data and enter !</p>

<!-- Form to input parameters -->
<form method="POST" action="{% url 'ask_me:classification' %}" id="classification-form">
    {% csrf_token %}
    <div class="form-flex">
        <label for="log_input">Paste Cowrie Log Data:</label>
        <textarea 
            id="log_input" 
            name="log_input" 
            class="form-control-class" 
            rows="3" 
            placeholder="Paste your cowrie log row here...">{{ request.POST.log_input }}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Get Cowrie Log Attack Type</button>
    <br>
    {% if user.is_authenticated %}
        <a href="{% url 'ask_me:cHistory' %}" class="history-btn">View My History Records</a>
    {% endif %}
</form>
<br>

{% if attack_type %}
    <hr><br>
    <h3>Attack Type:</h3>
    <div class="result">
        <p id="attack-type"></p> 
    </div>
    <h3>Description:</h3>
    <div class="result">
        <p id="description"></p>
    </div>

    {%if attack_percentage%}
        <h3>This attack has also affected {{attack_percentage}}% of users.</h3>
        <br>
    {% endif %}

    <!-- Display the chart -->
    <h3>Attack Type Proportion Chart</h3>
    {% if chart_data %}
        <div class="chart-container">
            <img src="data:image/png;base64,{{ chart_data }}" alt="Attack Type Chart">
        </div>
    {% else %}
        <p>No chart data available.</p>
    {% endif %}

{% elif error %}
    <hr><br>
    <div class="error-class">{{ error }}</div>
{% endif %}

<script>
    // Word-by-word rendering function
    function displayWordByWord(text, elementId) {
        const element = document.getElementById(elementId);
        const words = text.split(" ");
        let index = 0;

        element.textContent = "";

        const interval = setInterval(() => {
            if (index < words.length) {
                element.textContent += words[index] + " ";
                index++;
            } else {
                clearInterval(interval); 
            }
        }, 200); 
    }

    document.addEventListener("DOMContentLoaded", () => {
        const attackType = "{{ attack_type|escapejs }}";
        const description = "{{ description|escapejs }}";
        const attackTypeBlock = document.getElementById("attack-type");

        if (attackType) {
            window.scrollTo({ top: 610, behavior: 'smooth' });
            displayWordByWord(attackType, "attack-type");
        }
        if (description) {
            displayWordByWord(description, "description");
        }
    });
</script>
{% endblock %}

