{% extends 'layout.html' %}
{% block title %}About Us{% endblock title %}

{% load static %}

{% block content %}
    <h1>About Us</h1>
    <div class="about-container">
        <div class="about-section-mission">
            <h2>Our Mission</h2>
            <p>As cybersecurity threats become more complex, individuals and organizations face significant risks.</p>
            <p>However, many lack the knowledge to effectively mitigate these threats.</p>
            <p>Our project seeks to bridge this gap by using <b>large language models</b> to create a system 
            that offers insights and assistance in cybersecurity.</p>
        </div>
        <div class="about-section">
            <h2>Our Team</h2>
            <h4>Loglytics</h4>
            <div class="team-container">
                <div class="team-member">
                    <img src="{% static 'images/婉蓁.png' %} " width="10" height="10" alt="HANNA ASHLEY" class="team-photo">
                    <div class="member-name">HANNA ASHLEY</div>
                </div>
                <div class="team-member">
                    <img src="{% static 'images/廷奕.png' %}" width="30" height="30" alt="LIN, TING-YI" class="team-photo">
                    <div class="member-name">LIN, TING-YI</div>
                </div>
                <div class="team-member">
                    <img src="{% static 'images/婷筠.png' %}" width="30" height="30" alt="HUANG, TING-YUN" class="team-photo">
                    <div class="member-name">HUANG, TING-YUN</div>
                </div>
                <div class="team-member">
                    <img src="{% static 'images/柏瑜.png' %}" width="30" height="30" alt="LU, DANIEL PO-YU" class="team-photo">
                    <div class="member-name">LU, DANIEL PO-YU</div>
                </div>
                <div class="team-member">
                    <img src="{% static 'images/彥融.png' %}" width="30" height="30" alt="CHEN YEN-JUNG" class="team-photo">
                    <div class="member-name">CHEN YEN-JUNG</div>
                </div>
                <div class="team-member">
                    <img src="{% static 'images/秉逸.png' %}" width="30" height="30" alt="FAN PING-YI" class="team-photo">
                    <div class="member-name">FAN PING-YI</div>
                </div>
            </div>
        </div>
        <div class="about-section">
            <h2>Contact Us</h2>
            <br>
            <div class="contact-member">
                <img src="{% static 'images/廷奕.png' %}" width="30" height="30" alt="LIN, TING-YI" class="contact-photo">
                <div class="member-name">LIN, TING-YI</div>
            </div>
            <br>
            <p>Tel: +886 972279193</p>
            <p>Email: jam219888@gmail.com</p>
        </div>
    </div>
<br><br>
{% endblock content %}
