{% extends 'layout.html' %}
{% load static %}
{% block content %}
    <h3>Loglytics </h3>
    <h1>資安樂解析</h1>
    <!-- Image from external source -->
    <img src="{% static 'images/Logo.png' %}" alt="logo pic" width="200" height="200">

    <!-- Custom body content -->
    <p>Hello, world! 
        <br>
         We are GroupXX from NCCU</p>
    
    <br> 
    
    <!-- Link to Classify Log page with button -->
    <a href="{% url 'your_help_coach:attack_suggestion' %}">
        <button>START!</button>
    </a>
{% endblock content %}

