{% extends 'layout.html' %}
{% block title %}User Login{% endblock %}

{% load socialaccount %}
{% load static %}

{% block content %}
    <h1>User Login</h1>
    <form method="post" action="{% url 'users:login' %}" class="form-login">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
        <span>or</span>
        <a href="{% provider_login_url 'google' %}" class="google-login-btn">
            <img src="{% static 'images/google.png' %}" alt="Google">
            Continue with Google
        </a>
    </form>
<br><br>
<p>Haven't had an account? <a href="{% url 'users:register' %}">Sign up here</a>.</p>
<br>
{% endblock content %}