{% extends 'layout.html' %}
{% block title %}User Registration{% endblock %}

{% load socialaccount %}
{% load static %}

{% block content %}
<h1>User Registration</h1>
<form method="post" action="{% url 'users:register' %}" class="form-with-validation">
    {% csrf_token %}

    <!-- Loop through form fields -->
    {% for field in form %}
        <div class="form-group">
            <!-- Field label -->
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>

            <!-- Field widget (input) -->
            {{ field }}

            <!-- Help text -->
            {% if field.help_text %}
                <small class="helptext">{{ field.help_text }}</small>
            {% endif %}

            <!-- Error message -->
            {% for error in field.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        </div>
    {% endfor %}
    <button type="submit">Register</button>
    <span>--------------- or ---------------</span>
    <a href="{% provider_login_url 'google' %}" class="google-login-btn-register">
        <img src="{% static 'images/google.png' %}" alt="Google">
        Sign up with Google
    </a>
</form>
<br><br>
<p>Already have an account? <a href="{% url 'users:login' %}">Login here</a>.</p>
<br><br>
{% endblock content %}