{% extends 'layout.html' %}
{% block title %}Email Verification{% endblock %}

{% load static %}

{% block content %}
<h1>Email Verification</h1>
<form method="post" action="{% url 'users:verify' %}" class="form-verify">
    {% csrf_token %}

    {% if first_time %}
        <label>The six-digit verification code has been sent to your email. 
            Please enter the code below to verify your email address.</label>
    {% elif resend %}
        <label>The verification code has been resent. Please enter the code below to verify your email address.</label>
    {% else %}
        <label>Please enter the verification code below to verify your email address.</label>
    {% endif %}

    <input type="text" name="verification_code" required>
    
    {% if error %}
        <div class="error">{{ error }}</div>
    {% endif %}

    <button type="submit" name="action" value="verify">Verify</button>

    {% comment %} resend邏輯還需要再改 {% endcomment %}
    <div class="resend-block">
        <span>Didn't receive the code?</span>
        <button type="submit" id="resend-btn" name="action" value="resend">Resend Code</button>
        <span class="timer" id="timer"></span>
        <script src="{% static 'js/timer.js' %}"></script>
    </div>
</form>
<br><br>
{% endblock content %}