{% extends "layout2.html" %}
{% block title %}Detailed Suggestion{% endblock %}

{% block content %}
<h1>Personal Attack Diagnosis Coach</h1>

<p class="comment">Please check your Cowrie Log data and enter !</p>

<!-- Form to input the Cowrie log data -->
<form method="POST" action="{% url 'your_help_coach:attack_suggestion' %}">
    {% csrf_token %}
    <div class="form-flex">
        <label for="log_input">Paste Cowrie Log Data:</label>
        <textarea 
            id="log_input" 
            name="log_input" 
            class="form-control-class" 
            rows="3" 
            placeholder="Paste your cowrie log row here...">{{ request.POST.log_input }}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Get Personal Attack Diagnosis</button>
    <br>
</form>
<br>

<!-- Display the classification result -->
{% if attack_type %}
    <hr><br>

    <!-- New form for transitioning to help_coach page -->
    <form method="POST" action="{% url 'your_help_coach:help_coach' %}">
        {% csrf_token %}

        <h3>Attack Type:</h3>
        <div class="result">
            <p>{{ attack_type }}</p>
        </div>

        <input type="hidden" name="encounteredAttack" value="{{ attack_type }}">
        <button type="submit" class="btn btn-success">Get Personal Diagnosis</button>
    </form><br>
{% endif %}
{% endblock %}
