{% extends "layout2.html" %}
{% block title %}Personal Attack Diagnosis{% endblock %}

{% block content %}
    <h1>Your Personal Attack Diagnosis</h1>
    
    <!-- Display the encountered attack type -->
    <div class="form-group">
        <label for="encounteredAttack">Attack Type:</label>
        <input type="text" id="encounteredAttack" name="encounteredAttack" value="{{ attack_type }}" class="form-control" readonly>
    </div><br>

    <!-- Display the descriptions -->
    <div class="form-group">
        <label for="description">Description:</label>
        <textarea id="description" name="description" class="form-control" readonly>{{ description }}</textarea>
    </div>
    
    <!-- Display Affected -->
    <div class="form-group">
        <label for="affected">Affected:</label>
        <textarea id="affected" name="affected" class="form-control" readonly>{{ affected }}</textarea>
    </div>

    <!-- Display Mitigation -->
    <div class="form-group">
        <label for="mitigation">Mitigation:</label>
        <textarea id="mitigation" name="mitigation" class="form-control" readonly>{{ mitigation }}</textarea>
    </div>

    <!-- Display Solutions -->
    <div class="form-group">
        <label for="solutions">Solutions:</label>
        <textarea id="solutions" name="solutions" class="form-control" readonly>{{ solutions }}</textarea>
    </div>

    <!-- Display Learn More Links (if any) -->
    <div class="form-group">
        <label for="learnMore">Learn More:</label>
        {% if learn_more_links %}
            <ul class="learn-more-list">
                {% for link in learn_more_links %}
                    <li><a href="{{ link }}" target="_blank">{{ link }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No additional information available.</p>
        {% endif %}
    </div>
    <br>
    <button id="goBackButton" class="back-btn">Back To Previous Page</button>

    <script>
        document.getElementById('goBackButton').addEventListener('click', function () {
            window.location.href = document.referrer;
        });
    </script>
{% endblock %}
